@import "base/_reset";
@import "base/_typography";
@import "helpers/_variables";
body {
	margin: 0;
    background: #f9f9fb;
    font-family: 'Roboto', sans-serif;
    font-weight: fontWeight(0);
}
/*left side bar*/
.sidebar{
    background: #2C3539;
    color: #7F7F7F;
    padding: 0px !important;
    min-height: 100vh;
}
/*end */

/*right side content body*/
.main-body{
    background: rgb(255, 255, 255);
    min-height: 100vh;
    padding-top: 10px;
}
/*end */

/* all right side related css */
.menu-option{
    ul{
        float: left;
        margin: 15px 22px 0 0;
        padding: 0px;
        width: 252px;
        height: 34px;
        li{
            float: left;
            margin: 6px;
            border: 2px solid #bdbbbb;
            border-radius: 50%;
            padding: 7px 11px;
        }
    }
}


.radio-button-container{
    ul{
        li{
            padding: 0px 30px;
        }
    }
}

.compose{
    background: #D43B3A;
    padding: 10px;
    margin: 19px 0;
    text-align: center;
    cursor: pointer;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
}

/* Add lavel Button related css*/
.add-label{
    padding: 10px 23px;
    .add-label-text{
        padding: 2px 15px;
        font-size: 19px;
    }
    .add-label-icon{
        font-size: 24px;
        font-weight: 900;
        float: right;
        text-align: right;
    }
}
/* end of add label related css*/

/* notification for number of unread messages */
.unread{
    float: right;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50%;
    padding-top: 2px;
    border: 2px solid #7F7F7F;
    color: #7F7F7F;
}
/* end */



/* Custom Radio Button css */
.radio-custom {
    opacity: 0;
    position: absolute;   
}

.radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

.radio-custom-label {
    position: relative;
}

.radio-custom + .radio-custom-label:before {
    content: '';
    background: #fff;
    border: 2px solid #ddd;

    background: #2C3539;
    border: 3px solid #298F67;

    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}

.radio-custom + .radio-custom-label:before {
    border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label:before {
    background: #298F67;
    box-shadow: inset 0px 0px 0px 4px #2C3540;
    color: white;
}

.radio-custom:focus + .radio-custom-label {
  outline: 1px solid #ddd; /* focus style */
}

#radio-1.radio-custom + .radio-custom-label:before {
    border: 3px solid #36A3BE;
}
#radio-1.radio-custom:checked + .radio-custom-label:before {
    background: #36A3BE;
}

#radio-3.radio-custom + .radio-custom-label:before {
    border: 3px solid #EE6B35;
}
#radio-3.radio-custom:checked + .radio-custom-label:before {
    background: #EE6B35;
}

#radio-4.radio-custom + .radio-custom-label:before {
    border: 3px solid #DA9233;
}
#radio-4.radio-custom:checked + .radio-custom-label:before {
    background: #DA9233;
}


.mail-option{
    ul{
        li{
            padding: 8px 30px;
            font-size: 22px;
            width: 100%;
            cursor: pointer;
            .fa{
                padding-right: 17px;
            }
        }
        .active{
            background: white;
            color: black;
            .unread{
                background: #D04E39;
                border: 2px solid #D04E39;
                color: white;
            }
        }
    }   
}


.down-arrow{
    float: left;
    margin-top: 25px;
    height: 25px;
    width: 25px;
    border: 2px solid;
    border-radius: 50%;
    i{
        position:relative;
        top: 0px;
        left: 2px;
        font-size: 1.5em;
    }
}
/* end .... of left side commmon css */



/*right side i.e main content body elements css*/
.search-box{
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 3px solid #f5f5f5;
    color: gray;
    background-image: url(http://i47.tinypic.com/r02vbq.png);
    background-repeat: no-repeat;
    background-position: right center;
    outline: 0;
}


/*for two tabs alphabetical and recent */
ul.tablink{ float: right ;}
ul.tablink li {float: left;color: #a5a0a0;cursor: pointer;}
.tab{display: none;}
.tab.active{display: block;color: #a5a0a0;}
li.active{background: #fff;color: #4c4c4c !important;}
/* end ..*/


.toggle-option{
    text-align: center;
    margin: 25px 0px 0 0;
}

/* user image , name, other options related css*/
.user-info{
    img.circle-border{
        height: 42px;
        width: 42px;
        border-radius: 50%;
        box-shadow: 0 0 0 3px hsl(0, 0%, 77%), 0 0 0 6px hsl(0, 0%, 90%);
    }
    .img-container{
        padding: 12px 0px 12px 30px;
    }
    .between-link::after{
        content: '';
        width: 0;
        height: 100%;
        position: relative;
        border: 1px solid #b9b0b0;
        top: 8px;
        left: 33px;
        padding-top: 18px;
    }
    .user-name{
        line-height: 40px;
    }
    .user-otherinfo{
        line-height: 67px;
        text-align: center;
    }
}
/* end ...*/
.mail-option{
    .circle-border{
        border-radius: 50%;
        width: 45px;
        margin: 10px;
        box-shadow: 0 0 0 3px hsl(0, 0%, 77%), 0 0 0 6px hsl(0, 0%, 90%);
    }
}
/*end ... of  right side common css*/



/* Very Common css*/
body {
  font-family: Raleway;
}

* {
    box-sizing: border-box;
    user-select: none;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
    width: 100%;
}
/* end of common css*/


.add-label{
    .add-label-text{
        width: 50%;
    }
    .add-label-icon{
        width: 50%;
    }
}

.input-text{
    padding: 18px 31px;
    font-size: 42px;
}


.user-info{
        .between-link::after{
            content:initial;
            top: 8px;
            padding-top: 18px;
        }
    }

.mail-icons, .radio-button-container{
    border-bottom: 1px solid #4f5152;
}

.user-info:hover {
    background: #E9EDF0;
}

.selected-user{
    float: left;
    margin-left: 30%;
}

.tag{
    color: white;
    padding: 4px;
    border-radius: 4px;
}

.work-tag{background: #32B1CF}
.fashion-tag{background: #36BD77}
.animal-tag{background: #FC5E11}

/* Css3 media Query for different width ...*/
@media only screen and (min-width: 300px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    .radio-custom + .radio-custom-label:before {
        width: 10px;
        height: 10px;
    }
    .input-text{
        font-size: 31px;
        padding: 36px 0px;
    }
    
    .compose-container{
        margin:50px;
    }
    .radio-button-container{
        padding:15px 0;
        ul {
            li {
                padding:0 30px;   
            }
        }
    }

    .user-info{
        .user-otherinfo{
            line-height: 15px;
        }
        .between-link::after{
            content:initial;
            /*top: 92px;*/
            /*padding-top: 102px;*/
        }
    }
    .selected-user{margin-left: 0%;}
}

@media only screen and (min-width: 480px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}

    
    .mail-option ul li {
        padding:8px;
        font-size: 18px;
    }
    .radio-button-container{
        padding:15px 0;
        ul {
            li {
                padding:8px 0;   
            }
        }
    }

    .add-label{
        padding:10px;
        .add-label-text{
            padding: 10px 0;
        }
        .add-label-icon{
            padding: 7px 11px 7px 20px;
        }
    }
    
    .radio-custom + .radio-custom-label:before {
        width: 10px;
        height: 10px;
    }
    .compose-container{
        margin:10px;
    }
    .unread{
        width: 25px;
        height: 25px;
    }

    .user-info{
        .user-otherinfo {
            line-height: 20px;
            padding-top: 30px;
        }
        .img-container {
            padding:15px;
        }
        .user-name {
            line-height: 20px;   
        }

        .between-link::after{
            content:'';
            top: 37px;
            padding-top: 48px;
        }
    }
    .input-text{
        padding: 36px 0px;
    }
    .selected-user{margin-left: 0%;}
}
@media only screen and (min-width: 720px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .mail-option ul li {
        padding:8px 30px;
    }
    
    .radio-button-container{
        padding:15px;
        ul {
            li {
                padding:0px 8px;
            }
        }
    }

    .radio-custom + .radio-custom-label:before {
        width: 18px;
        height: 18px;
    }
    .input-text{
        /*padding-left: 34px;*/
        font-size: 43px;
        /*margin-top: 18px;*/
        /*font-size: 31px;*/
        padding: 36px 0px 0px 0px;
        padding: 22px 0px 0px 25px;
    }

    .user-info{
        .img-container {
            padding: 0px 15px;
        }
        .user-otherinfo {
            /*line-height: 20px;*/
            padding-top: 18px;
        }
        .between-link::after{
            content:'';
            top: 8px;
            padding-top: 18px;
        }
    }
    .selected-user{margin-left: 30%;}
}


@media only screen and (min-width: 900px) {
    /* For desktop: */
    .col-l-1 {width: 8.33%;}
    .col-l-2 {width: 16.66%;}
    .col-l-3 {width: 25%;}
    .col-l-4 {width: 33.33%;}
    .col-l-5 {width: 41.66%;}
    .col-l-6 {width: 50%;}
    .col-l-7 {width: 58.33%;}
    .col-l-8 {width: 66.66%;}
    .col-l-9 {width: 75%;}
    .col-l-10 {width: 83.33%;}
    .col-l-11 {width: 91.66%;}
    .col-l-12 {width: 100%;}

}